/*

This document is written in BEM.
Block = .block
Element = .block__element
Modifier = .block__element--modifier || .block--modifier

*/

/* Block ******************************************************************/

.background {
  background-image: url(https://images.unsplash.com/photo-1581710515207-e12b6e176779?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
}

.text {
    font-size: 35px;
    text-align:center;
    color: #886451;
    text-shadow: 1px 1px 1px #000;
}

.container {
  height: 500px;
  width: 500px;
}

.adjustTime {
  position: absolute;
  width: 150px;
  height: 150px;
}

.button{
  cursor: pointer;
}

.credit {
  position: absolute;
  bottom: 10%;
  left: 30%
}

/* Element ****************************************************************/
.ring__display {
  width: 100%;
  position: absolute;
  line-height: 190px;
}

.adjustTime__title {
  width: 100%;
  top: 0%;
  padding: 0;
  margin: 0;
}

.adjustTime__displayNumber {
  padding: 0;
  margin: 0;
  width: 100px;
}

.adjustTime__minus {
  position: absolute;
  left: 0;
}

.adjustTime__plus {
  position: absolute;
  right: 0;
}

/* Modifier ***************************************************************/

.layout--center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text--large {
font-size: 70px;
}

.ring--animate {
  stroke-dasharray: 880; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 0; /* allows the circle to start complete */
  transition: all 1s linear;
}

.ring--rotate {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.button--reset {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.adjustTime--break{
  bottom: -60px;
  left: 15%;
}

.adjustTime--work{
  bottom: -60px;
  right: 15%;
}
